---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Info</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:tailwind" title="Language">
          Hétonia est développer sur plusieurs languages différents et plusieurs logiciel différents 
          ce qui nous permet d'avoir une meilleur approche de la comunauté
        </Feature>
        <Feature icon="mdi:wheelchair-accessibility" title="Infrastructure">
          Hétonia posséde ses propre machine sous vps linux ddr4 (40 giga de ram) et (16 coeurs) nous 
          Hébergeont nos machines chez by-hoster.net sauf nôtre site web qui est Hébeger autre part.
        </Feature>
        <Feature icon="mdi:looks" title="Hétonia c'est quoi ?">
          Hétonia est un serveur Minecraft Français créer en 2021 par "lelapin2" qui se nommé 
          a l'époque "sunwith". Hétonia est un serveur de Type Surive Customs et Mini-jeux.  
        </Feature>
        <Feature icon="mdi:eslint" title="Discord">
          Nôtre serveur Disocord a actuellement 253 membres et plus de 93 joueurs différents 
          qui on déja rejoin nôtre serveur au moin une fois. Nôtre serveur discord existe depuis 2022.
        </Feature>
        <Feature icon="mdi:book-open-page-variant" title="Blog">
          Nôtre Blog est relier a nôtre launcher Minecraft pour vous informés de ses nouvelles.
        </Feature>
        <Feature icon="mdi:language-markdown" title="Terms of Service | Discord">
          Hétonia respecte les "Terms of Service | Discord" et ceux de Mojang et Microsoft. 
          Toute personne non d'accord avec ceci est priés de ne pas entré en contacte avec nous.
        </Feature>
        <Feature icon="mdi:theme-light-dark" title="Copyright">
          Hétonia posséde un Copyright et une license sur toutes ses créations toute personnes essayant 
          de volé son travaille sera immédiatement punis par la lois.
        </Feature>
        <Feature icon="mdi:cog" title="site-Web Hétonia">
          Nôtre site Web est créer a partir du CMS azurium et le thème Utilisé s'appelle "Deluxe" ce 
          thème est payant. Le site est codé par lelapin2 et son ami Funasitien.
        </Feature>
        <Feature icon="mdi:lighthouse" title="Hétonia-studio">
          Hétonia studio c'est quoi ? Hétonia studio et l'emtrprise de gestions et créationsde Hétonia. Tout le travaille et les services de Hétonia studio son gardés privé et interdit d'accées.
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Accessible Components</h2>
    <p class="text-2xl">
      Thème de Hétonia studio basé sur Astro <a href="https://github.com/markteekman/accessible-astro-components"
        >separate package</a
      >. They'll get you up and running in building an accessible solution for your visitors.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>Developpement de Hétonia</h2>
    <p class="text-2xl">
      Les Développeur de Hétonia sont: Funasitien,lelapin2,Benkuro11,Touix22, et Klaynight.
      Hétonia a grasse a eux bien grandis et est désormais sur la bonne voit.

    </p>
  </ContentMedia>
  <section class="mb-32 mt-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Compteurs</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="50" title="Membres du Discord" sub="Disocrd Hétonia studio" />
        <Counter count="21" title="Inscriptions" sub="Membres inscrits sur nôtre site" />
        <Counter count="18" title="Abonnées" sub="sub youtube" />
        <Counter count="14 ans" title="Age requis" sub="Age minimum pour être sur nôtre serveur Disocrd" />
      </div>
    </div>
  </section>
</DefaultLayout>
